.home .hero img {
  max-width: 450px !important;
}

.home-page {
  background-color: #F8FAFC;
  
  .dark & {
    background-color: #1a202e;
  }
}

.home {
  padding: var(--navbar-height) 2rem 0;
  max-width: var(--homepage-width);
  margin: 0px auto;
  display: block;

  @media (max-width: $MQMobileNarrow) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero {
    text-align: center;

    img {
      width: 12rem;
      height: 12rem;
      display: block;
      margin: 3rem auto 0;

      @media (max-width: $MQMobileNarrow) {
        max-height: 210px;
        margin: 0 auto 1rem;
      }
    }

    h1 {
      font-size: 3rem;
      line-height: 1.5;
      margin: 1rem auto 0;

      .dark & {
        color: white;
      }

      @media (max-width: $MQMobileNarrow) {
        font-size: 2rem;
      }
    }

    @media (max-width: $MQMobileNarrow) {
      h1, .description, .action {
        margin: 1.2rem auto;
      }
    }
  
    .description {
      max-width: 35rem;
      font-size: 1.5rem;
      line-height: 1.25;
      color: var(--c-text-lighter);
      margin: 0 auto;

      .dark & {
        color: white;
      }

      @media (max-width: $MQMobileNarrow) {
        font-size: 1.2rem;
      }
    }
  
    .action {
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      @media (max-width: $MQMobile) {
        flex-direction: column;
      }
    }
  
    .action-button {
      font-size: 1.25rem;
      color: #fff;
      background-color: var(--c-brand);
      padding: 0.75rem 1.85rem;
      // margin: 0 .75rem;
      border-radius: .5rem;
      border: .125rem solid var(--c-brand);
      transition: .15s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition-property: background-color, color, border-color;
      box-sizing: border-box;

      &:hover {
        background-color: var(--c-brand-light);
        border-color: var(--c-brand-light);
      }

      @media (max-width: $MQMobile) {
        margin: 0 0 .75rem;
      }

      @media (max-width: $MQMobileNarrow) {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
        margin: 0 0 .75rem;
      }
    }

    .action-button.secondary {
      background: #fff;
      color: var(--c-brand);
  
      &:hover {
        color: #fff;
      }

      .dark & {
        background: var(--c-bg);

        &:hover {
          background: #151a28;
          color: #a0e8ee;
        }
      }
    }
  }

  .features {
    // border-top: 1px solid #E2E8F0;
    padding: 2.5rem 0;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;

    @media (max-width: $MQMobile) {
      flex-direction: column;
    }

    @media (max-width: $MQMobileNarrow) {
      margin-top: 3rem;
      padding-bottom: 0;
    }
  }
  
  .feature {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;

    @media (max-width: $MQMobile) {
      max-width: 100%;
      padding: 0 .5rem;
    }
  
    h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 500;
      border-bottom: none;
      padding-bottom: 0;
      margin: 0 0 .5rem;
      color: #374151;

      .dark & {
        color: #c1c8d7;
      }
  
      &::first-letter {
        font-size: 1.5rem;
      }
    }
  
    p {
      color: #4B5563;
      margin: 0 0 4rem;
    }
  }
  
  .footer {
    padding: 2.5rem;
    border-top: 1px solid var(--c-border);
    text-align: center;
    color: #4B5563;

    .dark & {
      color: #c1c8d7;
    }
  }
}