.navbar {
  display: flex;
  align-items: center;
  border-top: .25rem solid var(--c-brand);

  .sidebar-button {
    top: 50%;
    transform: translateY(-50%);
    left: .75rem;
  }

  .navbar-dropdown-title {
    line-height: 1.8rem;
  }
  
  .links.links {
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar-items-wrapper {
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar-items {
    display: flex;
    align-items: center;
  }

  .can-hide {
    @media (max-width: $MQMobileNarrow) {
      display: none;
    }

    @media (max-width: $MQMobile) {
      display: none;
    }
  }

  .logo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .site-name {
    line-height: 2rem;
  }
  
  .home-link {
    display: inline-flex;
    align-items: center;

    .site-name {
      font-size: 1.125rem;
    }

    .logo {
      width: 1.75rem;
      height: 1.75rem;
      min-width: auto;
      margin-right: .65rem;
    }
  }

  .search-box input {
    background-color: #F1F5F9;
    border-color: transparent;

    .dark & {
      background-color: #10131e;
    }

    @media (max-width: 956px) {
      background-color: transparent;

      .dark & {
        background-color: transparent;
      }
    }
  }
}