<template>
  <Layout />
</template>

<script lang="ts">
import { defineComponent, ref, watch, onMounted, onBeforeUnmount } from 'vue'
import Layout from '@vuepress/theme-default/lib/client/layouts/Layout.vue'

export default defineComponent({
  name: 'UpdatesLayout',
  components: { Layout },
  setup() {
    const getHost = ({
      prod,
      dev,
      staging,
    }: {
      prod: string
      dev: string
      staging: string
    }): string => {
      switch (import.meta.env.MODE) {
        case 'production':
          return prod
        case 'staging':
          return staging
        default:
          return dev
      }
    }

    const lkHost = getHost({
      dev: 'http://localhost:3000',
      prod: 'https://pa.takwot.com',
      staging: 'https://px.agentplus.online',
    })

    const ordersHost = getHost({
      dev: 'http://localhost:3200',
      prod: 'https://order.takwot.com',
      staging: 'https://pxorders.agentplus.online',
    })

    const suHost = getHost({
      dev: 'http://localhost:3100',
      prod: 'https://supervisor.takwot.com',
      staging: 'https://pxsrv.agentplus.online',
    })

    const tochkiHost = getHost({
      dev: 'https://app.dev.localhost:3400',
      prod: 'https://tochki.takwot.com',
      staging: 'https://px-control.agentplus.online',
    })

    const handleMessage: EventListenerOrEventListenerObject = (e) => {
      const event = e as MessageEvent

      // IMPORTANT: check the origin of the data!
      const { origin, data, source } = event

      if (
        origin.startsWith(lkHost) ||
        origin.startsWith(ordersHost) ||
        origin.startsWith(suHost) ||
        origin.startsWith(tochkiHost)
      ) {
        if (data === 'get-content') {
          const content = document.querySelector('.theme-default-content')

          if (content && content.innerHTML && source)
            source.postMessage(
              {
                event: 'content',
                value: content.innerHTML,
              },
              { targetOrigin: origin }
            )
        }
      } else {
        // The data was NOT sent from your site!
        // Be careful! Do not use it. This else branch is
        // here just for clarity, you usually shouldn't need it.
        return
      }
    }

    onMounted(() => {
      if (!window) return
      window.addEventListener('message', handleMessage)
    })

    onBeforeUnmount(() => {
      if (!window) return

      window.removeEventListener('message', handleMessage)
    })
  },
})
</script>
